# build
*.obj
*.o
*.out
*.class
*.exe
out/

# debug and analysis output
*.gch
*.plist

# directories
Wyklady/
playground/
.vscode/

# idea
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
**/.idea/**/gradle.xml
**/.idea/**/libraries
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml

# javadoc
05/*
!05/.idea
!05/src
!05/05.iml
!05/lista05W.pdf
